<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME}!-f
  RewriteCond %{REQUEST_FILENAME}!-d
  RewriteRule. /index.html [L]
</IfModule>

# Desativa MultiViews que causa 503 na Hostinger
Options -MultiViews
